@font-face {
	font-family: 'YanusC';
	src: url('fonts/YanusC.eot');
	src: url('fonts/YanusC.eot?#iefix') format('embedded-opentype'),
		url('fonts/YanusC.woff') format('woff'),
		url('fonts/YanusC.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'YanusCBold';
	src: url('fonts/YanusC-Bold.eot');
	src: url('fonts/YanusC-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/YanusC-Bold.woff') format('woff'),
		url('fonts/YanusC-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}




* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);    
} 

.btn {
	position:absolute;	
	border:1px solid red;
	z-index:6000;
	opacity:0;
	}	
	
.btnClose {
	top: 105px;
	left: 953px;
	width: 30px;
	height: 30px;
	z-index: 10000;
}	



body {
	position:fixed;
	top:0px;
	left:0px;
}


/*menu*/
.xclmMenu {
	position:absolute;
	top:0px;
	left:0px;
	z-index:5000;
	height:45px;
	box-sizing: content-box;
	width:1024px;
	}
	

	
.xclmMenu>li {
	height:45px;
	box-sizing: border-box;
	padding:0px 0px;
	text-align: center;	
	display: table;
	position: relative;
	background-size: 	auto 100%;
	background-repeat: no-repeat;	
	float: left;
	margin-left:-16px;	
}

.xclmMenu>li>a {
	display: inline-block;	
	width: 100%;	
	height: 100%;	
}



.xclmMenu>li:nth-child(1) {
	width: 72px;
	background-image: url('img/menu_1_off/menu_1_off_1.png');
	margin-left:5px;	
}

.menu_1.xclmMenu>li:nth-child(2) {
	width: 135px;
	background-image: url('img/menu_1_off/menu_1_off_2.png');
}

.menu_1.xclmMenu>li:nth-child(3) {
	width: 135px;
	background-image: url('img/menu_1_off/menu_1_off_3.png');
}	

.menu_1.xclmMenu>li:nth-child(4) {
	width: 135px;
	background-image: url('img/menu_1_off/menu_1_off_4.png');
}	

.menu_1.xclmMenu>li:nth-child(5) {
	width: 135px;
	background-image: url('img/menu_1_off/menu_1_off_5.png');
}	

.menu_1.xclmMenu>li:nth-child(6) {
	width: 135px;
	background-image: url('img/menu_1_off/menu_1_off_6.png');
}	

.menu_1.xclmMenu>li:nth-child(7) {
	width: 135px;
	background-image: url('img/menu_1_off/menu_1_off_7.png');
}	

.xclmMenu>li:nth-child(12) {
	width: 134px;
	background-image: url('img/menu_1_off/menu_1_off_8.png');
}	

.xclmMenu>li:nth-child(13) {
	width: 68px;
	background-image: url('img/menu_1_off/menu_1_off_9.png');
}	

.xclmMenu>li:nth-child(14) {
	width: 66px;
	background-image: url('img/menu_1_off/menu_1_off_10.png');
}


/*menu_1 active*/

.xclmMenu>li:nth-child(1).xclmMenuActive {
	background-image: url('img/menu_1_on/menu_1_on_1.png');
}

.menu_1.xclmMenu>li:nth-child(2).xclmMenuActive {
	background-image: url('img/menu_1_on/menu_1_on_2.png');
}

.menu_1.xclmMenu>li:nth-child(3).xclmMenuActive {
	background-image: url('img/menu_1_on/menu_1_on_3.png');
}	

.menu_1.xclmMenu>li:nth-child(4).xclmMenuActive {
	background-image: url('img/menu_1_on/menu_1_on_4.png');
}	

.menu_1.xclmMenu>li:nth-child(5).xclmMenuActive {
	background-image: url('img/menu_1_on/menu_1_on_5.png');
}	

.menu_1.xclmMenu>li:nth-child(6).xclmMenuActive {
	background-image: url('img/menu_1_on/menu_1_on_6.png');
}	

.menu_1.xclmMenu>li:nth-child(7).xclmMenuActive {
	background-image: url('img/menu_1_on/menu_1_on_7.png');
}	

.xclmMenu>li:nth-child(12).xclmMenuActive {
	background-image: url('img/menu_1_on/menu_1_on_8.png');
}	

.xclmMenu>li:nth-child(13).xclmMenuActive {
	background-image: url('img/menu_1_on/menu_1_on_9.png');
}	

.xclmMenu>li:nth-child(14).xclmMenuActive {
	background-image: url('img/menu_1_on/menu_1_on_10.png');
}



/*menu_2*/


.xclmMenu>li:nth-child(8) {
	width: 193px;
	background-image: url('img/menu_2_off/menu_2_off_2.png');
}

.menu_2.xclmMenu>li:nth-child(9) {
	width: 195px;
	background-image: url('img/menu_2_off/menu_2_off_3.png');
}	

.menu_2.xclmMenu>li:nth-child(10) {
	width: 195px;
	background-image: url('img/menu_2_off/menu_2_off_4.png');
}	

.menu_2.xclmMenu>li:nth-child(11) {
	width: 195px;
	background-image: url('img/menu_2_off/menu_2_off_5.png');
}	

.menu_2.xclmMenu>li:nth-child(12) {
	width: 135px;
	background-image: url('img/menu_2_off/menu_2_off_6.png');
}	


 /*menu_2 active*/


.menu_2.xclmMenu>li:nth-child(8).xclmMenuActive {
	background-image: url('img/menu_2_on/menu_2_on_2.png');
}

.menu_2.xclmMenu>li:nth-child(9).xclmMenuActive {
	background-image: url('img/menu_2_on/menu_2_on_3.png');
}	

.menu_2.xclmMenu>li:nth-child(10).xclmMenuActive {
	background-image: url('img/menu_2_on/menu_2_on_4.png');
}	

.menu_2.xclmMenu>li:nth-child(11).xclmMenuActive {
	background-image: url('img/menu_2_on/menu_2_on_5.png');
}	

.menu_2.xclmMenu>li:nth-child(12).xclmMenuActive {
	background-image: url('img/menu_2_on/menu_2_on_6.png');
}	





























/*menuCover*/	

	
// .xclmMenu>li>div {
// 	position:absolute;
// 	padding:18px;
// 	z-index:1000;
// 	box-sizing: border-box;
// 	width:310px;
// 	border-radius:10px;
// 	text-align:left;
// 	box-shadow: 0px 0px 15px #888888;
// 	box-sizing: content-box;
// 	}
	
// .xclmMenuActiveLevel1 {
// 	border:10px solid red;
// 	}	
	
// .xclmMenu>li>div span {
// 	font-family: Verdana, Geneva, sans-serif;	
// 	float:right;
// 	border-radius:2px;
// 	padding:2px;
// 	background-color:#ccc;
// 	}	
	
// .xclmMenu>li>div:before {
// 	content:"";
//    position: absolute;
//    top: -15px;
//    left:12px;
//    width: 0;
//    height: 0;
//    border-left: 16px solid transparent;
//    border-bottom: 15px solid #c16a9c;
//    border-right: 16px solid transparent;
   
   
// }	
	
.xclmMenu>li>div>ul {
	background-color:#FFF;
	border-radius:5px;
	padding:16px;
	}	
	
.xclmMenu>li>div a {
	color:#000;
	text-decoration:none;
	line-height:1em;
	font-size:18px;
	font-family: Verdana, Geneva, sans-serif;
	}
	
.xclmMenu>li>div>ul>li {
	border-bottom:1px solid #aaa;
	padding:10px 0px 10px 0px;	
	}
	
.xclmMenu>li>div>ul>li li  {
	border-bottom:1px solid #aaa;
	width:285px;
	padding:5px 0px 5px 0px;
	margin-left:20px;
	}
	
.xclmMenu>li>div>ul>li li a {
	color:#aaa;
}	
	
.xclmMenu>li>div>ul>li li:last-child  {
	border:0px;
	}
	
.xclmMenu>li>div>ul>li li:first-child  {
	border-top:1px solid #aaa;
	margin-top:10px;
	}		
	
.menuCover1 {
	top:77px;
	left:17px;	
	}	
	
/*menuCover end*/	
	
.xclmSysmenu {
	position: absolute;
	left: 258px;
	top: 601px;
	width: 507px;
	height: 200px;
	z-index: 6000;
	border: 1px solid #FFF;
	background-color: #E5E9F0;
	border-radius: 15px;	
	box-shadow: 0px 0px 15px #888888;
}

.xclmVisitExitButton 
{
	position: absolute;
	top: 55px;
	left: 55px;
	width: 394px;
	height:60px;
	font-size: 24px;
	border: 1px solid #0569CD;
	border-radius: 8px;
	color: #FFF;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#95bfe9), color-stop(50%,#0569cd), color-stop(50%,#0569cd), color-stop(100%,#0569cd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #95bfe9 0%,#0569cd 50%,#0569cd 50%,#0569cd 100%); /* Chrome10+,Safari5.1+ */
}

.xclmVisitExitButtonClose 
	{
	position: absolute;
	top: -13px;
	left: 478px;
	width: 37px;
	height: 37px;
	font-size: 24px;
	border: 1px solid #0569CD;
	border-radius: 50%;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#95bfe9), color-stop(100%,#0569cd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #95bfe9 0%,#0569cd 100%); /* Chrome10+,Safari5.1+ */
	z-index:10000;	
	}
	
	
.xclmVisitExitButtonClose div{	
	position: absolute;
	top: 17px;
	left: 2px;	
	background-color: #FFF;	
	width: 33px;
	height: 2px;
	}	
	
.xclmVisitExitButtonClose div:first-child {
	-moz-transform: rotate(-45deg);  /* Firefox */
	-o-transform: rotate(-45deg);  /* Opera */
	-webkit-transform: rotate(-45deg);  /* Safari y Chrome */	
	}
	
.xclmVisitExitButtonClose div:last-child {	
	-moz-transform: rotate(45deg);  /* Firefox */
	-o-transform: rotate(45deg);  /* Opera */
	-webkit-transform: rotate(45deg);  /* Safari y Chrome */	
	}	
	
	

/*slides*/	
	


#xclmBreadCrumbs {
    position: absolute;
    top: -121px;
    left: 123px;
    color: #fff;
    font-size: 13px;
    z-index: 8000;
	}
	
#xclmBreadCrumbs ul{	
	list-style-image: url(img/1.png); 
	}
	
#xclmBreadCrumbs li {
	font-family:Verdana, Geneva, sans-serif;	
	
	}	
	
.slide_back {
    top: 75px;
    left: 940px;
    width: 50px;
    height: 50px;
}

/*animation*/

.xclmAnimationRun  .step_1 {
	transition: 1s ease 1s;
	-webkit-transition: 1s ease 1s;
	opacity:1;
}

.xclmAnimationRun  .step_2 {
	transition: 1s ease 2s;
	-webkit-transition: 1s ease 2s;
	opacity:1;
}

.xclmAnimationRun  .step_3 {
	transition: 1s ease 3s;
	-webkit-transition: 1s ease 3s;
	opacity:1;
}

.xclmAnimationRun  .step_4 {
	transition: 1s ease 4s;
	-webkit-transition: 1s ease 4s;
	opacity:1;
}

.xclmAnimationRun  .step_5 {
	transition: 1s ease 5s;
	-webkit-transition: 1s ease 5s;
	opacity:1;
}


/*fon*/

.bg {
	position: absolute;
	top:0px;
	left:0px;
	width:1024px;
	height:768px;
	-webkit-background-size: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
} 

.bg_1 {
	background-image: url(img/bg1.jpg);
}

.bg_2 {
	background-image: url(img/bg2.jpg);
}

.bg_3 {
	background-image: url(img/bg3.jpg);
}

.bg_4 {
	background-image: url(img/bg4.jpg);
}



/*bg*/

.bg_00_slide {
	background-image: url(img/home.png);
}


.bg_02_slide {
	background-image: url(img/1/1/1_2.png);	
}

.bg_03_slide {
	background-image: url(img/1/1/1_3.png);	
}

.bg_04_slide {
	background-image: url(img/1/2/2_4/2_4_1.png);	
}

.bg_05_slide {
	background-image: url(img/1/2/2_5.png);	
}

.bg_06_slide {
	background-image: url(img/1/2/2_6/2_6_1.png);	
}

.bg_07_slide {
	background-image: url(img/1/2/2_7.png);	
}

.bg_08_slide {
	background-image: url(img/1/2/2_8/2_8_1.png);	
}

.bg_09_slide {
	background-image: url(img/1/2/2_9.png);	
}

.bg_10_slide {
	background-image: url(img/1/3/3_10.png);	
}

.bg_11_slide {
	background-image: url(img/1/3/3_11/3_11_1.png);	
}

.bg_12_slide {
	background-image: url(img/1/3/3_12.png);	
}

.bg_13_slide {
	background-image: url(img/1/3/3_13.png);	
}

.bg_14_slide {
	background-image: url(img/1/3/3_14/3_14_1.png);	
}

.bg_15_slide {
	background-image: url(img/1/3/3_15.png);	
}

.bg_16_slide {
	background-image: url(img/1/3/3_16.png);	
}

.bg_17_slide {
	background-image: url(img/1/3/3_17.png);	
}

.bg_18_slide {
	background-image: url(img/1/3/3_18.png);	
}

.bg_19_slide {
	background-image: url(img/1/3/3_19.png);	
}

.bg_20_slide {
	background-image: url(img/1/4/4_20/4_20_1.png);	
}

.bg_21_slide {
	background-image: url(img/1/4/4_21/4_21_1.png);	
}

.bg_22_slide {
	background-image: url(img/1/5/5_22/5_22_1.png);	
}

.bg_23_slide {
	background-image: url(img/1/5/5_23.png);	
}

.bg_24_slide {
	background-image: url(img/1/6/6_24.png);	
}

.bg_25_slide {
	background-image: url(img/1/6/6_25.png);	
}

.bg_26_slide {
	background-image: url(img/1/6/6_26/6_26_1.png);	
}

.bg_27_slide {
	background-image: url(img/1/6/6_27.png);	
}



/*вторая презентация*/

.bg_101_slide {
	background-image: url(img/2/1/1_28/1_28_1.png);	
}

.bg_102_slide {
	background-image: url(img/2/1/1_29.png);	
}

.bg_103_slide {
	background-image: url(img/2/1/1_30/1_30_1.png);	
}

.bg_104_slide {
	background-image: url(img/2/1/1_31.png);	
}

.bg_105_slide {
	background-image: url(img/2/2/2_32/2_32_1.png);	
}

.bg_106_slide {
	background-image: url(img/2/2/2_33.png);	
}

.bg_107_slide {
	background-image: url(img/2/2/2_34.png);	
}

.bg_108_slide {
	background-image: url(img/2/2/2_35.png);	
}

.bg_109_slide {
	background-image: url(img/2/2/2_36/2_36_1.png);	
}

.bg_110_slide {
	background-image: url(img/2/2/2_37/2_37_1.png);	
}

.bg_111_slide {
	background-image: url(img/2/2/2_38/2_38_1.png);	
}

.bg_112_slide {
	background-image: url(img/2/3/3_39/3_39_1.png);	
}

.bg_113_slide {
	background-image: url(img/2/3/3_40.png);	
}

.bg_114_slide {
	background-image: url(img/2/3/3_41/3_41_1.png);	
}

.bg_115_slide {
	background-image: url(img/2/3/3_42.png);	
}

.bg_116_slide {
	background-image: url(img/2/3/3_43/3_43_1.png);	
}

.bg_117_slide {
	background-image: url(img/2/3/3_44.png);	
}

.bg_118_slide {
	background-image: url(img/2/4/4_45.png);	
}

.bg_119_slide {
	background-image: url(img/2/4/4_46.png);	
}

.bg_120_slide {
	background-image: url(img/2/4/4_47.png);	
}


.bg_48_slide {
	background-image: url(img/3/3/3_48_1.png);		
}

.bg_302_slide {
	background-image: url(img/4/4_49.png);	
}



#popup1 .bg,
#popup2 .bg,
#popup3 .bg,
#popup4 .bg {
	z-index:7000;
	background-color: rgba(0,0,0,0.5);

}

.popup_close  {
	top: 46px;	
	right: 0px;	
	width: 150px;	
	height: 550px;
	z-index:9000;	
}

.popup_close__height_100 {
	height: 100px;	
}


/*00-slide*/ 

.btn__00-slide_1,
.btn__00-slide_2 {
    top: 63px;
    left: 23px;
    width: 299px;
    height: 520px;
}

.btn__00-slide_2 {
    top: 181px;
    left: 323px;
}

.btn__00-slide_3,
.btn__00-slide_4 {
    top: 0px;
    left: 774px;
    width: 120px;
    height: 45px;
}

.btn__00-slide_4 {
    left: 898px;
    width: 62px;
}

/*02-slide*/

.fo_select, .reg_select {
    position: absolute;
    top: 199px;
    left: 56px;
    border: 1px solid #dbe2e7;
    font-size: 20px;
    width: 430px;
    padding: 6px 30px 6px 6px;
	background-color: #eff2f4;
	background-size: auto 100%;
	background-image: url(img/select.png);
	background-repeat: no-repeat;
	background-position: right 0;
	    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	font-family: 'YanusC';    
}

.reg_select {
    left: 537px;

}

.st4, .potentia, .st34 {
	display: inline-block;
	position: absolute;
    font-size: 33px;
    top: 370px;
    left: 581px;
    width: 135px;
    text-align: center;
  color: #003399;
	font-family: 'YanusCBold';    	
}

.potentia {
	left: 787px;
	color: #ff6600;
}

.st34 {
    top: 439px;
    font-size: 40px;
    left: 684px;
    color: #003399;
}

.regions {
    position: absolute;
    width: 413px;
    top: 325px;
    left: 79px;
}

.regions_2 {
    position: absolute;
    width: 438px;
    top: 347px;
    left: 79px;	
}

/*04-slide*/

.arrow_1_04-slide {
	position: absolute;	
	width: 245px;	
	height: 89px;	
	background-size: 100%;	
	background-repeat: no-repeat;	
    top: 364px;
    left: 198px;	
    opacity:0;
	background-image: url(img/1/2/2_4/2_4_5.png);	
	-webkit-transition:1s ease 0.5s;	
	transition:1s ease 0.5s;
}

.xclmAnimationRun .arrow_1_04-slide {
    opacity:1;
    top: 383px;
    left: 267px;   
}

.text_1_04-slide {
	background-image: url(img/1/2/2_4/2_4_8.png);	
	opacity:0;	
} 

.text_2_04-slide {
	background-image: url(img/1/2/2_4/2_4_6.png);
	opacity:0;		
} 

.arrow_2_center_04-slide {
	position: absolute;	
	width:1px;	
	height: 1px;
    top: 459px;
    left: 517px;
	-webkit-transition:1s ease 2s;	
	transition:1s ease 2s;
	-webkit-transform: rotate(-111deg);	
	transform: rotate(-111deg);
	opacity:0;    	
}

.xclmAnimationRun .arrow_2_center_04-slide {
	-webkit-transform: rotate(0deg);	
	transform: rotate(0deg);
	opacity:1; 	
}

.arrow_2_04-slide {
	position: absolute;	
	width: 202px;	
	height: 91px;	
	background-size: 100%;	
	background-repeat: no-repeat;	
    top: -180px;
    left: -152px;	
	background-image: url(img/1/2/2_4/2_4_7.png);		
}

/*06-slide*/ 

.bg_06_slide_2 {
	background-image: url(img/1/2/2_6/2_6_2.png);
	-webkit-transition:1s ease 1s;	
	transition:1s ease 1s;		
}

.xclmAnimationRun .bg_06_slide_2 {
	opacity:0;
}
.bg_06_slide_3 {
	background-image: url(img/1/2/2_6/2_6_3.png);	
}

/*08-slide*/ 

.bg_08_slide_2 {
	background-image: url(img/1/2/2_8/2_8_2.png);
	-webkit-transition:1s ease 1s;	
	transition:1s ease 1s;		
}

.xclmAnimationRun .bg_08_slide_2 {
	opacity:0;
}
.bg_08_slide_3 {
	background-image: url(img/1/2/2_8/2_8_3.png);	
}

/*11-slide*/

.slide_11_tap_1 {
    top: 181px;
    left: 30px;
    width: 247px;
    height: 51px;
}

.slide_11_tap_2 {
    top: 181px;
    left: 277px;
    width: 247px;
    height: 51px;
}

.bg_11_slide_2 {
	background-image: url(img/1/3/3_11/3_11_2.png);	
}

.bg_11_slide_3 {
	background-image: url(img/1/3/3_11/3_11_3.png);	
}

/*14-slide*/

.slide_14_tap_1 {
    top: 181px;
    left: 30px;
    width: 247px;
    height: 51px;
}

.slide_14_tap_2 {
    top: 181px;
    left: 277px;
    width: 247px;
    height: 51px;
}

.bg_14_slide_2 {
	background-image: url(img/1/3/3_14/3_14_2.png);	
}

.bg_14_slide_3 {
	background-image: url(img/1/3/3_14/3_14_3.png);	
}

/*20-slide*/

.slide_11_popup_1 {
	top: 161px;	
	left: 20px;	
	width: 50px;	
	height: 50px;	
}

.bg_20_slide_2 {
	background-image: url(img/1/4/4_20/4_20_2.png);		
}


.bg_20_slide_3 {
	background-image: url(img/1/4/4_20/4_20_3.png);	
    background-color: rgba(0,0,0,0) !important;	
}

.bg_20_slide_4 {
	background-image: url(img/1/4/4_20/4_20_4.png);
    background-color: rgba(0,0,0,0) !important;		
}


.slide_20_tap_1 {
  top: 351px;
  left: 29px;
	width: 100px;
	height: 100px;
	z-index:9000;
}

.slide_20_tap_2 {
	top: 351px;
	right: 29px;
	width: 100px;
	height: 100px;
	z-index:9000;
}

.slide_20_tap_1_2 {
    top: 148px;
    left: 133px;
    width: 247px;
    height: 51px;
    z-index:9000;	
}

.slide_20_tap_2_2 {
    top: 148px;
    left: 381px;
    width: 247px;
    height: 51px;
    z-index:9000;
}


/*21-slide*/

.slide_21_tap_1 {
    top: 181px;
    left: 30px;
    width: 247px;
    height: 51px;
}

.slide_21_tap_2 {
    top: 181px;
    left: 277px;
    width: 247px;
    height: 51px;
}

.bg_21_slide_2 {
	background-image: url(img/1/4/4_21/4_21_2.png);	
}

.bg_21_slide_3 {
	background-image: url(img/1/4/4_21/4_21_3.png);	
}

/*22-slide*/

.slide_22_popup_1 {
    top: 289px;
    left: 29px;
    width: 288px;
    height: 258px;
}

.slide_22_popup_2 {
    top: 289px;
    left: 356px;
    width: 288px;
    height: 258px;
}

.slide_22_popup_3 {
    top: 289px;
    left: 683px;
    width: 288px;
    height: 258px;
}

.bg_22_slide_2 {
	background-image: url(img/1/5/5_22/5_22_2.png);		
}

.bg_22_slide_3 {
	background-image: url(img/1/5/5_22/5_22_3.png);		
}

.bg_22_slide_4 {
	background-image: url(img/1/5/5_22/5_22_4.png);		
}

.bg_22_slide_4__wrapper {
		position: absolute;
    width: 924px;
    height: 620px;
    top: 112px;
    left: 55px;
    overflow-y: scroll;
    z-index: 7500;
    -webkit-overflow-scrolling: touch;
}

.bg_22_slide_4__wrapper_img {
		position: relative;	
		width: 100%;
}


/*26-slide*/

.slide_26_popup_1 {
    top: 516px;
    left: 229px;
    width: 57px;
    height: 41px;
}

.slide_26_popup_2 {
    top: 557px;
    left: 229px;
    width: 57px;
    height: 41px;
}



.bg_26_slide_2 {
	background-image: url(img/1/6/6_26/6_26_2.png);		
}

.bg_26_slide_3 {
	background-image: url(img/1/6/6_26/6_26_3.png);		
}










/*101-slide*/ 

.bg_101_slide_2 {
	background-image: url(img/2/1/1_28/1_28_2.png);
	-webkit-transition:1s ease 1s;	
	transition:1s ease 1s;		
}

.xclmAnimationRun .bg_101_slide_2 {
	opacity:0;
}
.bg_101_slide_3 {
	background-image: url(img/2/1/1_28/1_28_3.png);	
}


/*103-slide*/ 

.bg_103_slide_2 {
	background-image: url(img/2/1/1_30/1_30_3.png);
	-webkit-transition:1s ease 1s;	
	transition:1s ease 1s;		
}

.xclmAnimationRun .bg_103_slide_2 {
	opacity:0;
}
.bg_103_slide_3 {
	background-image: url(img/2/1/1_30/1_30_4.png);	
}

/*105-slide*/ 

.btn__105-slide_1,
.btn__105-slide_2 {
    top: 238px;
    left: 79px;
    width: 400px;
    height: 360px;
}

.btn__105-slide_2 {
    left: 522px;
}


/*109-slide*/

.slide_109_popup_1 {
    top: 323px;
    left: 123px;
    width: 57px;
    height: 41px;
}

.slide_109_popup_2 {
		top: 536px;
    left: 177px;
    width: 57px;
    height: 41px;
}

.slide_109_popup_3 {
		top: 323px;
    left: 794px;
    width: 57px;
    height: 41px;
}

.slide_109_popup_4 {
    top: 536px;
    left: 841px;
    width: 57px;
    height: 41px;
}



.bg_109_slide_2 {
	background-image: url(img/2/2/2_36/2_36_2.png);		
}

.bg_109_slide_3 {
	background-image: url(img/2/2/2_36/2_36_3.png);		
}

.bg_109_slide_4 {
	background-image: url(img/2/2/2_36/2_36_4.png);		
}

.bg_109_slide_5 {
	background-image: url(img/2/2/2_36/2_36_5.png);		
}





/*110-slide*/

.slide_110_popup_1 {
    top: 373px;
    left: 159px;
    width: 57px;
    height: 41px;
}

.slide_110_popup_2 {
    top: 673px;
    left: 208px;
    width: 57px;
    height: 41px;
}

.slide_110_popup_3 {
    top: 373px;
    left: 829px;
    width: 57px;
    height: 41px;
}

.slide_110_popup_4 {
		top: 604px;
    left: 791px;
    width: 57px;
    height: 41px;
}



.bg_110_slide_2 {
	background-image: url(img/2/2/2_37/2_37_2.png);		
}

.bg_110_slide_3 {
	background-image: url(img/2/2/2_37/2_37_3.png);		
}

.bg_110_slide_4 {
	background-image: url(img/2/2/2_37/2_37_4.png);		
}

.bg_110_slide_5 {
	background-image: url(img/2/2/2_37/2_37_5.png);		
}


/*111-slide*/

.slide_111_popup_1 {
    top: 363px;
    left: 156px;;
    width: 57px;
    height: 41px;
}

.slide_111_popup_2 {
    top: 657px;
    left: 177px;
    width: 57px;
    height: 41px;
}

.slide_111_popup_3 {
    top: 362px;
    left: 817px;
    width: 57px;
    height: 41px;
}




.bg_111_slide_2 {
	background-image: url(img/2/2/2_38/2_38_2.png);		
}

.bg_111_slide_3 {
	background-image: url(img/2/2/2_38/2_38_3.png);		
}

.bg_111_slide_4 {
	background-image: url(img/2/2/2_38/2_38_4.png);		
}


/*112-slide*/ 

.bg_112_slide_2 {
	background-image: url(img/2/3/3_39/3_39_2.png);
	-webkit-transition:1s ease 1s;	
	transition:1s ease 1s;		
}

.xclmAnimationRun .bg_112_slide_2 {
	opacity:0;
}
.bg_112_slide_3 {
	background-image: url(img/2/3/3_39/3_39_3.png);	
}

/*114-slide*/

.bg_114_slide_2 {
	background-image: url(img/2/3/3_41/3_41_2.png);	
}

.bg_114_slide_3 {
	background-image: url(img/2/3/3_41/3_41_3.png);	
}


/*116-slide*/ 

.bg_116_slide_2 {
	background-image: url(img/2/3/3_43/3_43_2.png);
	-webkit-transition:1s ease 1s;	
	transition:1s ease 1s;		
}

.xclmAnimationRun .bg_116_slide_2 {
	opacity:0;
}
.bg_116_slide_3 {
	background-image: url(img/2/3/3_43/3_43_3.png);	
}


/*48-slide*/

.pdf-container-outer {
	position:fixed;
	top:0px;
	left:0px;
	width: 1024px; 
	height: 800px; 
	overflow-y: scroll !important; 
	overflow-x: none !important; 
	-webkit-overflow-scrolling: touch; 
	background-color:#eee;
	z-index:7000;
	} 
	

iframe { 
	width: 610px; 
	}

.popup_pdf_close {
    position: absolute;
    top: 50px;
    left: 950px;
    width: 45px;
    z-index: 9000;

}

/*301-slide*/

.pdf-container-outer__z-index_100 {
	z-index:100;	
}